{% load static %}
{% include "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="logo mx-auto">
                            <i class="bi bi-mortarboard"></i>
                        </div>
                        <h3 class="fw-bold">منصة مشاريع التخرج</h3>
                        <p class="text-muted">صفحة الإدارة</p>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="loginTabContent">
                            <!-- Login Form -->
                            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                <form method="POST" enctype="multipart/form-data"> 
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="loginEmail" class="form-label">البريد الإلكتروني</label>
                                        <input type="email" class="form-control" id="loginEmail" name="email" placeholder="example@university.edu" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="loginPassword" class="form-label">كلمة المرور</label>
                                        <input type="password" class="form-control" id="loginPassword" name="password" placeholder="••••••••" required>
                                    </div>
                                    <button type="submit" name="loginBtn" class="btn btn-primary btn-custom w-100">دخول</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-4 text-center text-white">
                    <p class="mb-1">© 2025 منصة مشاريع التخرج</p>
                    <p>جميع الحقوق محفوظة</p>
                </div>
            </div>
        </div>
    </div>

     <script src="{%static 'js/main.js'%}"></script>
{% endblock content %}